<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.congge.demo.mapper.InPatientMapper">

    <select id="findPage" resultType="com.congge.demo.entity.InPatient">
        select in_patient.*, sys_user.nickname as doctor  from in_patient
        left join sys_user
        on in_patient.doctor_id = sys_user.id
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name},'%')
            </if>
        </where>
    </select>
</mapper>